.footerlogo {
  margin-top: 1rem;
}

.logoMenuDiv {
  border-top: 1px groove $red;
  width: 90%;
  margin: 0 auto;
}
.menubar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 450px) {
    visibility: hidden;
  }
}

.menu-item {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.menu-item:active {
  background: $red;
}
.menu-item:hover {
  animation: glitch-skew 1s infinite linear alternate-reverse;
  box-shadow: 0 5px 30px 1px $red;
  border-radius: 20px;
}
