.footerDiv {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin: 12rem 0 0rem;
  width: 95%;
  position: relative;

  @media screen and (max-width: 1024px) {
    width: 100%;
    margin-top: 6rem;
  }

  @media screen and (min-width: 600px) and (max-width: 770px) {
    margin-top: 2rem;
  }

  @media screen and (max-width: 450px) {
    margin-top: 1vw !important;
  }

  .footerinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 92%;
    position: relative;
    box-shadow: 0 5px 30px 1px;
    padding: 1rem 1rem 0rem;

    @media screen and (max-width: 1024px) {
      width: 98%;
      padding: 0;
    }
  }
}

.earth-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .earth-img:hover {
    transform: translate(200px, 0);
    transition: all ease-in-out 1s;
  }

  .earth-text {
    position: absolute;
    font-size: 2rem;
    left: -15rem;
    top: 8rem;
    text-align: center;
    border: 1px solid $red;
    padding: 1rem 1rem;
  }
}
