.logoMenuDiv {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3rem auto 0;
  padding: 2rem;
  font-size: 0.8rem;
}
